body{
    /* padding: 0; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Style */

nav{
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1px;
}
.banner{
    /* max-width: 1800px; */
    height: 608px;
}
.banner-content{
    width: 505px;
    text-align: right;
    margin-left: 690px;
    margin-top: 70px;
}
.banner-content .banner-titel{
    font-family: "Poppins", serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-content .banner-desc{
    font-family: "Poppins", serif;
    font-size: 15px;
    color: #FFFFFF;
}
.banner-content .banner-button{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: bold;
    color: #005FAC;
    padding: 18px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* failour section style */


