body{
    /* padding: 0; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Style */

nav{
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1px;
}
.banner{
    /* max-width: 1800px; */
    height: 608px;
}
.banner-content{
    width: 505px;
    text-align: right;
    margin-left: 690px;
    margin-top: 70px;
}
.banner-content .banner-titel{
    font-family: "Poppins", serif;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-content .banner-desc{
    font-family: "Poppins", serif;
    font-size: 15px;
    color: #FFFFFF;
}
.banner-content .banner-button{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: bold;
    color: #005FAC;
    padding: 18px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.banner-button:hover{
    color: black ;
    background-color: rgb(26, 231, 221);
    transform: translateY(-3px);
}

/* failour section style */

.failour-section {
    display: flex;
    width: 1000px;
    height: 700px;
    gap: 90px;
    align-items: center;
    margin: 150px;
}
.fail-image{
    width: 559px;
    height: 723px;

}

.fail-section{
    max-width: 416px;
}
.fail-titel{
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}
.fail-desc{
    font-family: "Poppins", serif;
    font-size: 16px;
    color: #444343;
}
.fail-list{
    font-family: "Poppins", serif;
    font-size: 16px;
    color: #444343;
}


/* My Plans style */


.plan-main-tittel{
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    text-align: center;
}
.plans-box{
    display: flex;
    max-width: 1140px;
    height: 202px;
    gap: 45px;
    text-align: center;
    justify-content: space-around;
    margin: 50px 105px;
}
.plan-tittel{
    font-family: "Poppins", serif;
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}
.plan-desc{
    font-family: "Poppins", serif;
    font-size: 25px;
    color: #737272;
}



/* mindset section style */

.mindset{
    width: 1140px;
    height: 300px;
    background-image: url(images/watch.png);
    background-repeat: no-repeat; 
    margin: 160px 105px;
}
.mind{
    width: 1140px;
    height: 300px;
    background-image: url(images/gradient1.png);
    background-repeat: no-repeat;
}
.mindset-box{
    width: 550px;
    height: 182px;
    margin-left: 90px;

}
.mindset-tittle{
    font-family: "Poppins", serif;
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 40px;
}
.mindset-buttons{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 500;
    color: #005FAC;
    padding: 18px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.mindset-buttons:hover{
    color: black ;
    background-color: rgb(26, 231, 221);
    transform: translateY(-3px);
}

/* footer section style */
footer{
    height: 500px;
    background-color: #151414;
}
.footer-all{
    display: flex;
    gap: 280px;
    margin-left: 118px;
}
.future{
    width: 485px;
    height: 317px;
    margin-top: 60px;
}
.future-titel{
    font-family: "Poppins", serif;
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
}
.future-desc{
    font-family: "Poppins", serif;
    font-size: 16px;
    color: #FFFFFF;
}
.future-info{
    font-family: "Poppins", serif;
    font-size: 16px;
    color: #FFFFFF;
}
.socail-icon img{
    padding: 6px;
}
.socail-icon img:hover{
    transform: translateY(-5px);
}
.subscribe{
    display: block;
    width: 325px;
    height: 204px;
    margin-top: 75px;
}
.sub-tittel{
    font-family: "Poppins", serif;
    font-size: 25px;
    font-weight: 550;
    color: #FFFFFF;
}
.sub-email{
    font-family: "Poppins", serif;
    font-size: 18px;
    color: #F3F3F3;
    background-color: #151414;
    border: 0.5px solid #F3F3F3;
    border-radius: 5px;
    padding: 12px 43px;
}
.sub-button{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 12px 35px;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    background-color: #005FAC;
    cursor: pointer;
    transition: red 0.3s ease, transform 0.2s ease;
}
.sub-button:hover{
    color: black ;
    background-color: rgb(26, 231, 221);
    transform: translateY(-2px);
}
